<ion-view view-title="Review ourTasks">

<ion-content class="padding">
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
</ion-refresher>
     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="x in tasks" type="item-text-wrap" href="#/app/ourtabs/review/{{x.TaskID}}">
        <img ng-src="img/{{x.Priority}}.jpg">
        <h2>{{x.TaskID}} :  {{x.Title}}</h2>
        <p>{{x.Description}}<br>
            Due Date: {{x.DueDate}}</p>
          <p ng-show="x.Status=='Appeal'">Due date Appealed to {{x.AppealedDate}} </p>       
          <p ng-show="x.Status=='Approve'">Approve as ourTask</p>         
          <p ng-show="x.Status=='Review'">Submitted for Review on {{x.AppealedDate}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
