<ion-view view-title="ourTasks">
        <ion-content class="padding">
        ourTabs
    </ion-content>
<ion-tabs id="ourtabs" class="tabs-icon-top ">
    
    <ion-tab title="Summary" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/app/ourtabs/summary">
    <ion-nav-view name="ourtabs-summary"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Review" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/ourtabs/review"
    badge="ourReviewCount" badge-style="badge-assertive">
    <ion-nav-view name="ourtabs-review"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Open" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/app/ourtabs/open" 
    badge="ourOpenCount" badge-style="badge-positive">
    <ion-nav-view name="ourtabs-open"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Archive" icon-off="ion-ios-box-outline" icon-on="ion-ios-box" href="#/app/ourtabs/archive" 
    badge="ourArchiveCount" badge-style="badge-positive">
    <ion-nav-view name="ourtabs-archive"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Create" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/app/ourtabs/create">
    <ion-nav-view name="ourtabs-create"></ion-nav-view>
    </ion-tab>

    <ion-tab title="PerforMeter" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" 
    href="#/app/ourtabs/performeter">
    <ion-nav-view name="ourtabs-performeter"></ion-nav-view>
    </ion-tab>

</ion-tabs>
</ion-view>
