<ion-view view-title="New myTasks">

<ion-content class="padding">

    <ion-item class="list card">
        
      <div class="item item-divider">{{x.TaskID}} :  {{x.Title}}</div>
      <div class="item item-body ">
          <label class="item item-input item-stacked-label">
                <span class="input-label">Description:</span>
                <input required type="text" value="{{ x.Description }}" readonly>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Priority:</span>
                <input required type="text" value="{{ x.Priority }}" readonly>
            </label>
           <label class="item item-input item-stacked-label">
                <span class="input-label">AssigneeName:</span>
                <input required type="text" value="{{ x.AssigneeName }}" readonly>
            </label>
          <label class="item item-input item-stacked-label">
                <span class="input-label">CreatedDate:</span>
                <input required type="text" value="{{ x.CreatedDate }}" readonly>
            </label>
          
      </div>
         <div class="item item-divider">
             Task Due Date
        </div>
        <div class="item picker-input">
            <label class="item item-input item-stacked-label row">     
                <input required type="date" id="myDate" onchange="change('hideAccept','showAppeal')"></input> <i class="icon ion-edit"></i>
            </label>
        </div>
    </ion-item>
    <div class="bar bar-balanced" id="showAccepted" style="display:none">Successfully Accepteted the task {{x.TaskID}}</div>
    <div class="bar bar-balanced" id="hideAppeal" style="display:none">Successfully Appealed the due date of the task {{x.TaskID}}</div>
    <button class="button button-full button-navy" id="hideAccept" ng-click="accept()">  Accept myTask </button>
    <button class="button button-full button-navy " id="showAppeal" style="display:none" ng-click="appeal()">  Appeal Due Date </button>
    
  </ion-content>
</ion-view>
