<ion-view view-title="myPerformeter">

<ion-content class="padding">
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
</ion-refresher>

     <div class="list card" ng-show="showPerfometer">
         <div class="row" id="div1">
             <div class="col col-67">
                 <div class="row">
                     <div id="details" class="col col-90" style="font-size:small">
                    </div>
                    <div class="col col-10 col-center"><i class="icon ion-edit" onclick="change('div1','div2');"></i>
                     </div>     
                 </div>
            <div  id="zoomDiv" style="display:none" align="center">
                <input type="image" src="img/previous.png" id="prev" height="40px"></input>
                <input type="image" src="img/zoom.png" id="zoom" height="40px"></input>
                <input type="image" src="img/next.png" id="next" height="40px"></input>
            </div>
             </div>
            
             <div class="col col-33" align="center" id="summary" class="item item-body">
            </div>
         </div>
        <div id="div2" style="display:none">
        <div class="item item-divider item-icon-right">
            Confirm Duration: {{ dur }} month<span ng-show="dur>1">s</span>
            <i class="icon ion-ios-checkmark-outline" onclick="change('div2','div1');" ng-click=" doRefresh();"></i>
        </div>
        <div class="item item-body ">
            <div class="item range range-positive">
                <i class="icon ion-ios-minus-outline" ng-hide="dur<2" ng-click="dur=dur-1"></i>
                <input type="range" id="Duration" ng-model="dur" min="1" max="6">
                <i class="icon ion-ios-plus-outline" ng-hide="dur>5" ng-click="dur=dur+1"></i>
              </div>
        </div>
            
        </div>
        <div id="chart_div"  class="item item-body">
        </div>
        
        

    </div>
</ion-content>
</ion-view>